@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


:root{
    --black: #040d1a;
    --light: #040e2e9a;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(25, 21, 33, 0.1);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(4, 29, 38, 0.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color: #fff;
    background: var(--black);
    border:var(--border);
    border-radius: 1rem;
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 2rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--black);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:#ff3;
    color: black;
}
.btn::selection{
    background: #9ef;
}

.header .header-1{
    background:var(--black);
    
    padding:1.5rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    font-size: 2rem;
    margin-left: 0;
    font-weight: bolder;
    color:#fff;
}

.header .header-1 .logo i{
    color:#fff;
}

.header .header-1 .search-form{
    margin-left: 6rem;
    width:40rem;
    height:3rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
  
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:20px;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--black);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2rem;
    margin-left: 2rem;
    display: inline-block;
    color:#fff;
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
   
    background:#fff;
    
    color: var(--black);
}

#search-btn{
    display: none;
}

.header .navbar{
    width: 450px;
    margin: auto;
    border-radius: 6px;
    
}

.header .navbar{
    text-align: center;
}

.header .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header  .navbar a:hover{

    background:#fff;
    width: 90px;
    border-radius: 3rem;
    color: var(--black);
}

.header.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.bottom-navbar{
    text-align: center;
    background:var(--green);
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a{
    font-size: 2.5rem;
    font-weight: bolder;
    padding:2rem;
    color:#fff;
}

.bottom-navbar a:hover{
    background:var(--dark-color);
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1rem solid #081e3d;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0px;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}

.home{
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    margin-right: 1rem;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 2rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}

.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: block;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--green);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}
/* 
.featured{
    width: 100%;
   
    text-align: center;
}
.featured.h1{

}

.featured-slider {
    width: 300px;
  
    display: block;
    margin-left: 0rem;
    padding: 46px;
    
    border:var(--black);
}

.featured .image{
    padding:1rem;
    background: linear-gradient(30deg, #040d1a 30%, #fff 30.1%);
}


.featured  .image img{
    height: 25rem;
    
}


.featured .content{
    background:#eee;
    padding:1.5rem;
}

.featured .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured  .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
} */

/* 
 */

 .container{
     top: 0%;
     left:15%;
     display:inline-flex;
     transform: translate(-40%,+6%);
     position: relative;
     width: max-content;
     padding: 10rem;

 }
 .card{
     border: 1px solid black;
     background: rgba(25, 21, 33, 0.1);
     width: max-content;
     margin-top: 30rem ;
     text-align: left;
     display: -ms-flexbox flex-column;
     margin: 5px;

 }
 .card img{
     width: 200px;
     padding: 5px;
 }

 .card .title { 
     
     text-align: center;
     font-weight: bolder;

 }
 .card h2{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     text-align: center;
     font-weight: 20px;
 }
 .card .price{
     font-weight: bolder;
     margin-left: 5rem;
     text-align: center;
     
 }
 
 .card button{
     border: solid #e1701a;
     background-color: #f7a440;
     color: black;
     margin-left: 5rem;
     padding: 10px;

 }
 

 


